<div class="col-md-8 offset-md-2 jumbotron">
    <form method="POST" action="/admin/submitpost">
        <input type="text" class="form-control" placeholder="Title" name="title" />
        <br />
        <textarea name="posttext" placeholder="What's on your mind?" class="form-control" rows="20"></textarea>
        <br />
        <button class="btn btn-primary">Submit Post!</button>
    </form>
</div>